$spacing: (
  xxs: 0.25rem,
  xs: 0.5rem,
  ss: 0.75rem,
  s: 1rem,
  m: 1.5rem,
  l: 2rem,
  xl: 2.5rem,
  xxl: 4rem,
);

// Fonts
$font-roboto: "Roboto", Arial, Helvetica, sans-serif;
$font-regular: "Roboto Regular", Arial, Helvetica, sans-serif;
$font-bold: "Roboto Bold", Arial, Helvetica, sans-serif;
$font-medium: "Roboto Medium", Arial, Helvetica, sans-serif;
$font-light: "Roboto Light", Arial, Helvetica, sans-serif;
$font-black: "Roboto Black", Arial, Helvetica, sans-serif;
$font-italic: "Roboto Italic", Arial, Helvetica, sans-serif;